<%= form_with model: movie do |form| %>
  <% if movie.errors.any? %>
    <ul>
      <% movie.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>


  <div class="form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :blurb, class: 'form-label' %>
    <%= form.text_area :blurb, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :country, class: 'form-label'%>
    <%= form.text_field :country, class: 'form-control' %>
  </div>
  <div class="fieldset my-3">
    <legend class="col-form-label col-sm-2 pt-0">Genres</legend>
    <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
      <div class="form-check form-check-inline">
        <%= b.label class: 'form-check-label' %>
        <%= b.check_box class: 'form-check-input'%>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :release_date, class: 'form-label' %>
    <%= form.date_field :release_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :showing_start, class: 'form-label' %>
    <%= form.date_field :showing_start, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :showing_end, class: 'form-label' %>
    <%= form.date_field :showing_end, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>